/* /Pages/TeamPicker.razor.rz.scp.css */
body[b-cvb63k6m3h] {
    font-size: 16px;
}

input[type=text][b-cvb63k6m3h], select[b-cvb63k6m3h] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number][b-cvb63k6m3h], select[b-cvb63k6m3h] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



/*.memberDelete {
    background-color: none;
    border: none;
    color: black;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
}*/

.flex-container[b-cvb63k6m3h] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #aac3f0;
    border-radius: 6px;
}

    .flex-container > div[b-cvb63k6m3h] {
        background-color: #f1f1f1;
        flex: 1 1 150px;
        /*width: 100px;*/
        margin: 10px 10px;
        text-align: center;
        line-height: 30px;
        /*font-size: 16px;*/
        border-radius: 6px;
    }





table[b-cvb63k6m3h] {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td[b-cvb63k6m3h], th[b-cvb63k6m3h] {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even)[b-cvb63k6m3h] {
    background-color: #f2f2f2;
}

tr:hover[b-cvb63k6m3h] {
    background-color: #ddd;
}

th[b-cvb63k6m3h] {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #568df0;
    color: white;
}

.button[b-cvb63k6m3h] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/*button {
    background-color: #04AA6D;*/ /* Green */
    /*border: 1px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}*/








.button-4[b-cvb63k6m3h] {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    /*font-size: 14px;*/
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.button-4:hover[b-cvb63k6m3h] {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.button-4:disabled[b-cvb63k6m3h] {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.button-4:active[b-cvb63k6m3h] {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.button-4:focus[b-cvb63k6m3h] {
    outline: 1px transparent;
}

.button-4[b-cvb63k6m3h]:before {
    display: none;
}

.button-4:-webkit-details-marker[b-cvb63k6m3h] {
    display: none;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-7czc58jjoq] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-7czc58jjoq] {
    flex: 1;
}

.sidebar[b-7czc58jjoq] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-7czc58jjoq] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-7czc58jjoq]  a, .top-row[b-7czc58jjoq]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-7czc58jjoq]  a:hover, .top-row[b-7czc58jjoq]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-7czc58jjoq]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-7czc58jjoq] {
        display: none;
    }

    .top-row.auth[b-7czc58jjoq] {
        justify-content: space-between;
    }

    .top-row[b-7czc58jjoq]  a, .top-row[b-7czc58jjoq]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-7czc58jjoq] {
        flex-direction: row;
    }

    .sidebar[b-7czc58jjoq] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-7czc58jjoq] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-7czc58jjoq]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-7czc58jjoq], article[b-7czc58jjoq] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-gjcvad5nlm] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-gjcvad5nlm] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-gjcvad5nlm] {
    font-size: 1.1rem;
}

.oi[b-gjcvad5nlm] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-gjcvad5nlm] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-gjcvad5nlm] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-gjcvad5nlm] {
        padding-bottom: 1rem;
    }

    .nav-item[b-gjcvad5nlm]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-gjcvad5nlm]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-gjcvad5nlm]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-gjcvad5nlm] {
        display: none;
    }

    .collapse[b-gjcvad5nlm] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
