@page "/stringTester"

<h3>StringTester</h3>

<div>
    <label>Enter Text:</label>
    <input type="text" @bind="textInput" @oninput="ComputeInformation" />
    @*<input type="text" value="@textInput" @bind-value:event="oninput" @oninput="ComputeInformation" />*@
</div>

<div>
    <p>Length: @textLength</p>
    <p>Number of Digits: @numberOfDigits</p>
    <p>Number of Letters: @numberOfLetters</p>
</div>

<button class="btn btn-primary" @onclick="ToUpper">To upper</button>
<button class="btn btn-primary" @onclick="ToLower">To lower</button>

@code {
    private string textInput;
    private int textLength;
    private int numberOfDigits;
    private int numberOfLetters;

    private void ComputeInformation(ChangeEventArgs e)
    {
        textInput = e.Value.ToString();
        textLength = textInput.Length;
        numberOfDigits = textInput.Count(char.IsDigit);
        numberOfLetters = textInput.Count(char.IsLetter);
    }

    private void ToUpper()
    {
        textInput = textInput.ToUpper();
    }

    private void ToLower()
    {
        textInput = textInput.ToLower();
    }
}
