<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorWasmTester</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stringTester">
                <span class="oi oi-list-rich" aria-hidden="true"></span> String tester
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mudTest">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mud test
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calculator">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Calculator
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="japaneseName">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Japanese name
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="classPicker">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wow class picker
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timer">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Timer
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timer2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Timer2
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="navigatorTester">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Navigator tester
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="notes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Notes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TeamPicker">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TeamPicker
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
